.popup__form{
    display: flex;
    align-self: center;
    width: 358px;
    height: 27px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    box-sizing: border-box;
}
@media (max-width: 475px) {
    .popup__form {
        max-width: 238px;
    }
}